<div class="container px-3 my-5 clearfix">
  <div class="card">
    <div class="card-header">
      <h2 class="cartHeading">Shopping Cart</h2>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered m-0">
          <thead>
            <tr>
              <!-- Set columns width -->
              <th class="text-center py-3 px-4" style="min-width: 400px">
                Product Name &amp; Details
              </th>
              <th class="text-right py-3 px-4" style="width: 100px">Price</th>
              <th class="text-center py-3 px-4" style="width: 120px">
                Quantity
              </th>
              <th class="text-right py-3 px-4" style="width: 100px">Total</th>
              <th
                class="text-center align-middle py-3 px-0"
                style="width: 40px"
              >
                <a
                  href="#"
                  class="shop-tooltip float-none text-light"
                  title=""
                  data-original-title="Clear cart"
                  ><i class="ino ion-md-trash"></i
                ></a>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cart of cartProducts">
              <td class="p-4">
                <div class="media align-items-center">
                  <img
                    src="{{
                      'http://localhost:8080/api/admin/product/downloadFile/'
                    }}{{ cart.product?.id }}"
                    class="d-block ui-w-40 ui-bordered mr-4"
                    alt=""
                  />
                  <div class="media-body">
                    <span class="d-block text-dark">{{
                      cart.product?.title
                    }}</span>
                    <small>
                      <span class="text-muted">Description: </span>
                      {{ cart.product?.description }} &nbsp;
                    </small>
                  </div>
                </div>
              </td>
              <td class="text-right font-weight-semibold align-middle p-4">
                ₹{{ cart.product?.price }}
              </td>
              <td class="align-middle p-4">
                <p>{{ cart.count }}</p>
              </td>
              <td class="text-right font-weight-semibold align-middle p-4">
                ₹{{ (cart.count || 0) * (cart.product?.price || 0) }}
              </td>
              <td
                (click)="deleteCart($event, cart?.userId, cart.product?.id)"
                class="text-center align-middle px-0"
              >
                <a
                  href="#"
                  class="shop-tooltip close float-none text-danger"
                  title=""
                  data-original-title="Remove"
                  >×</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- / Shopping cart table -->

      <div
        class="d-flex flex-wrap justify-content-between align-items-center pb-4"
      >
        <div class="mt-4"></div>
        <div class="d-flex">
          <div class="text-right mt-4 mr-5"></div>
          <!-- <div class="text-right mt-4">
            <label class="text-total font-weight-normal m-0 text-white"
              >Total price</label
            >
            <div class="text-large text-total">
              <strong
                >₹{{totalPrice}}</strong
              >
            </div>
          </div> -->
        </div>
      </div>

      <div class="float-right">
        <button
          type="button"
          class="btn btn-lg btn-default md-btn-flat mt-2 mr-3"
          routerLink=""
          class="btn btn-lg mt-2 cartHeading"
        >
          Back to shopping
        </button>
        <button
          type="button"
          class="btn bttn-bg btn-lg btn-primary mt-2"
          routerLink="/address"
        >
          Checkout
        </button>
      </div>
    </div>
  </div>
</div>
