<div class="container">
  <div class="row">
    <div class="col-md-6">
      <p
        *ngIf="isUserLoggedIn()"
        class="welcome-message mx-4 vertical-text"
        style="font-family: sans-serif; font-size: 5vh !important"
      >
        Welcome, {{ getLoggedInUserName() }}!
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="input-group custom-search">
        <input
          class="form-control rounded"
          type="search"
          placeholder="Search Property By Name"
          aria-label="Search"
          [(ngModel)]="search"
          (ngModelChange)="filterArray()"
        />
      </div>
    </div>
    <div class="col-md-6">
      <div class="btn-group">
        <button
          class="btn btn-primary dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Sort by Price
        </button>
        <div class="dropdown-menu">
          <button class="dropdown-item" (click)="sortProductsLowToHigh()">
            Low to High
          </button>
          <button class="dropdown-item" (click)="sortProductsHighToLow()">
            High to Low
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<br />

<div class="container bootdey">
  <div class="row">
    <div
      class="product-grid col-xs-12 col-sm-6 col-md-3"
      *ngFor="let product of products"
    >
      <div class="product-item">
        <div class="">
          <img
            class="card-img-top"
            src="{{ 'http://localhost:8080/api/admin/product/downloadFile/' }}{{
              product.id
            }}"
            alt="Product Image"
          />
        </div>
        <div class="card-body caption">
          <div class="name text-center card-title">
            <span>{{ product.title }}</span>
          </div>
          <div class="card-text price">
            <span>₹{{ product.price }}</span>
          </div>
          <div class="card-text price">
            <span>{{ product.description }}</span>
          </div>
          <div class="cart">
            <button
              type="button"
              class="btn btn-primary"
              (click)="postCart(product.id)"
            >
              Add to Cart
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
